<div>
    <div ng-repeat="product in listProducts" class="row">
        <div class="col-md-12">
            <h2>{{product.Name}}</h2>
            <p>
                {{product.Description}}
            </p>
            <p><a class="btn btn-default" href="#!/buy/{{product.Id}}">Comprar:  R$ {{product.Price}}</a></p>
        </div>
    </div>
</div>